@font-face {
  font-family: "HelveticaNeueLTPro-Roman";
  src: url("../assets/fonts/hnrom.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Md";
  src: url("../assets/fonts/hnmd.woff2") format("woff2");
}
:root {
  font-family: "HelveticaNeueLTPro-Roman", sans-serif;
}
body {
  margin: 0;
  font-family: "HelveticaNeueLTPro-Md";
}

h1 {
  font-family: "HelveticaNeueLTPro-Md";
}
