---
import Ticker from '../components/Ticker.svelte';
---
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fossil fuel counter</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <style>
    body {
      background-color: black;
      color: white;
      font-size: 0.8rem;
      /* Fallback */
      font-size: clamp(0.8rem, 4vw, 1.6rem);
      /* Min, Variable, Max */
    }

    h1 {
      display: none
    }
  </style>
</head>

<body>
  <main>
    <h1>Fossil fuel counter</h1>
    <h2>The amount of fossil fuel subsidies given to the fossil fuel industry by the Australian State and Federal
      Governments —</h2>
    <Ticker client:visible />
  </main>
  <aside>
    <div>
      <p>Per second</p>
      <div>$328.10</div>
    </div>
    <div>
      <p>Per minute</p>
      <div>$19,686</div>
    </div>
    <div>
      <p>Per hour</p>
      <div>$1,181,160</div>
    </div>
    <div>
      <p>Per year</p>
      <div>$10,365,961,600</div>
    </div>
  </aside>
</body>

</html>